<div class="my-2">
  <label [attr.for]="valueName">
    {{labelName}}:
  </label>
  <section [attr.id]="valueName">
    <table class="table" *ngIf="links.length > 0">
      <thead>
      <tr>
        <th>Text</th>
        <th>URL</th>
        <th>Details</th>
        <th>
          <i class="fa fa-trash"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let link of links; let i = index">
        <td>
          <app-string-input [showLabel]="false" [(value)]="link.text"
                            [valueName]="'link-' + i + '-text'"></app-string-input>
        </td>
        <td>
          <app-string-input [showLabel]="false" [(value)]="link.url"
                            [valueName]="'link-' + i + '-url'"></app-string-input>
        </td>
        <td>
          <app-string-input [showLabel]="false" [(value)]="link.details"
                            [valueName]="'link-' + i + '-details'"></app-string-input>
        </td>
        <td>
          <button class="btn btn-outline-secondary btn-sm" (click)="removeLink(i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <button class="btn btn-secondary btn-block" (click)="addLink()">
          <i class="fa fa-plus"></i>
          Add Link
        </button>
      </div>
    </div>
  </section>
</div>
