<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="ready; else loading">
        <div class="my-3">
          <section id="agenda-extensions" *ngIf="isMeeting && meetingInfo">
            <p>
              Meeting Information for
              <a href="{{overviewLink}}">
                {{meetingInfo.name}}
              </a>
              <ng-container *ngIf="meetingInfo.youtubeLink">
                |
                <a href="{{meetingInfo.youtubeLink}}" target="_blank"><i class="fa fa-headphones"></i> Recording</a>
              </ng-container>
              <ng-container *ngIf="meetingInfo.hasAgenda">
                |
                <a href="{{agendaLink}}"><i class="fa fa-sticky-note"></i> Agenda</a>
              </ng-container>
              <ng-container *ngIf="meetingInfo.hasMinutes">
                |
                <a href="{{minutesLink}}"><i class="fa fa-clock-o"></i> Minutes</a>
              </ng-container>
              <ng-container *ngIf="meetingInfo.hasMaterials">
                |
                <a href="{{materialsLink}}" target="_blank"><i class="fa fa-file-pdf-o"></i> Meeting Materials</a>
              </ng-container>
              <ng-container *ngIf="meetingInfo.ipibLink">
                |
                <a href="{{ipibLink}}" target="_blank"><i class="fa fa-bank"></i> IPIB Page</a>
              </ng-container>
            </p>
            <div class="alert alert-info" *ngIf="missingAny">
              Contents not yet added:
              <ul>
                <li *ngIf="!meetingInfo.hasAgenda">Agenda</li>
                <li *ngIf="!meetingInfo.hasMaterials">Materials</li>
                <li *ngIf="!meetingInfo.youtubeLink">Recording</li>
                <li *ngIf="!meetingInfo.hasMinutes">Minutes</li>
              </ul>
            </div>
            <hr>
          </section>

          <markdown [src]="fullPath"></markdown>
          <section id="disclaimer">
            <hr>
            <markdown [src]="disclaimerMarkdownPath"></markdown>
          </section>
          <section id="file-options">
            <hr>
            <p>
              <strong>
                <i class="fa fa-file"></i>
                File Options
              </strong>
            </p>
            <p>
              <a [attr.href]="fullPath" target="_blank">
                View Raw Text (in Markdown Format)
              </a>
              <!--                TODO more viewing options -->
              <!--                | View Raw HTML | Export as PDF | Export as MD | Export as HTML | Export as EPUB-->
            </p>
          </section>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
