<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <markdown [src]="directoryHeaderMarkdownPath"></markdown>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12">
      <hr>
      <p *ngIf="meetings.length === 0">
        Sorry, no meetings to show.
      </p>
      <ng-container *ngIf="meetings.length > 0">
        <p>
          Showing {{meetings.length}} meeting(s)...
        </p>
        <ul class="list-group">
          <li class="list-group-item border-dark" *ngFor="let meeting of meetings">
            <span>
              {{meeting.date}}
            </span>
            <a href="{{getLink(meeting)}}" class="btn btn-link">
              {{meeting.name}}
            </a>

            <span *ngIf="meeting.isUpcoming">
              (Upcoming)
            </span>
            <span *ngIf="!meeting.isUpcoming && missingAny(meeting)">
              (Missing some contents)
            </span>

            <ng-container *ngIf="meeting.description">
              <br>
              {{meeting.description}}
            </ng-container>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
