<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <markdown [src]="directoryHeaderMarkdownPath"></markdown>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12">
      <hr>
      <p *ngIf="documents.length === 0">
        Sorry, no documents to show.
      </p>
      <ng-container *ngIf="documents.length > 0">
        <p>
          Showing {{documents.length}} document(s)...
        </p>
        <ul class="list-group">
          <li class="list-group-item border-dark" *ngFor="let document of documents">
            <a href="{{getLink(document)}}" target="_blank" class="btn btn-link">
              <h4>
                {{document.name}}
              </h4>
            </a>
            <span>
              {{document.date}}
            </span>
            <br>
            {{document.description}}
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
